<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>drawApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCD84BC51DF6D743009B298C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD84BDB1DF6D743009B298C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCD84BE61DF6D743009B298C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
